---
import { generateToc } from '@/utils/generateToc';
import type { MarkdownHeading } from 'astro';
import TOCHeading from './TOCHeading.astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<aside
  class="hidden lg:sticky lg:top-12 lg:order-2 lg:-me-32 lg:block lg:basis-64"
>
  <div class="title hover:marker:text-accent cursor-pointer text-lg">
    Table of Contents
  </div>
  <nav class="ms-4 lg:w-full">
    <ol class="mt-4">
      {toc.map((heading) => <TOCHeading heading={heading} />)}
    </ol>
  </nav>
</aside>
